@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
}

body {
}

.aos-init[data-aos][data-aos].aos-animate {
  transform: unset;
}

/* ====== apex chart ======== */
.hamburger-dropShadow {
  filter: drop-shadow(0px 4px 45px rgba(0, 106, 255, 0.616));
}
@media only screen and (min-width: 1280px) {
  .hamburger-dropShadow {
    filter: drop-shadow(0px 0px 0px rgba(0, 106, 255, 0));
  }
}
.dropShadow {
  filter: drop-shadow(0px 4px 45px rgba(0, 105, 255, 0.26));
}
.apexcharts-menu.apexcharts-menu-open {
  background-color: #131415;
  border: 0;
  filter: drop-shadow(0px 4px 45px rgba(0, 105, 255, 0.26));
}

.apexcharts-menu-item {
  /* color: green; */
}

.apexcharts-menu-item:hover {
  color: #131415;
}
/* ====== apex chart ======== */

/* =============== skeleton end =========== */
.calc-height-140 {
  height: calc(100% - 150px);
}

/* ====== gradient button =======  */
.gradient-button {
  background: linear-gradient(90deg, #6b64fc, transparent) #b492fb;
  transition: background-color 1s;
}
.gradient-button:hover,
.gradient-button:focus {
  background: linear-gradient(45deg, #b492fb, transparent) #6b64fc;
}

/* ====== hamburger icon ======  */
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;

  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham8 .top {
  stroke-dasharray: 40 160;
}
.ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}
.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}
.ham8.active .top {
  stroke-dashoffset: -64px;
}
.ham8.active .middle {
  transform: rotate(90deg);
}
.ham8.active .bottom {
  stroke-dashoffset: -64px;
}

/* ========== animated buttons ========= */
.animated-btn-1 p {
  font-size: 16px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  user-select: none;
  cursor: pointer;
}

.animated-btn-1 p span {
  position: absolute;
  width: 25%;
  height: 100%;
  /* background-color: ; */
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

/* animated 2 ====== */
.animated-btn-2 p {
  color: white;
  font-size: 14px;
  border: 1px solid #3380ff;
  border-radius: 7px;
  width: 100%;

  height: 47px;
  font-weight: 600;
  background-color: #3380ff;
  text-align: center;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  user-select: none;
  cursor: pointer;
}

.animated-btn-2 p span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: #00c4df;

  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

.animated-btn-2 p:hover {
  color: white;
  border: 1px solid #00c4df;
}

.animated-btn-1 p:hover span,
.animated-btn-2 p:hover span {
  transform: translateY(0) scale(2);
}

.animated-btn-1 p span:nth-child(1),
.animated-btn-2 p span:nth-child(1) {
  --n: 1;
}

.animated-btn-1 p span:nth-child(2),
.animated-btn-2 p span:nth-child(2) {
  --n: 2;
}

.animated-btn-1 p span:nth-child(3),
.animated-btn-2 p span:nth-child(3) {
  --n: 3;
}

.animated-btn-1 p span:nth-child(4),
.animated-btn-2 p span:nth-child(4) {
  --n: 4;
}
/* ==================== */

.animated-btn-3 button {
  font-weight: 700;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.4s ease-in-out;
  color: white;
  font-size: 16px;
  background-color: #635bff;
}

.animated-btn-3 button:hover {
  box-shadow: 0px 0px 0px 2.5px #fff, 0px 0px 0px 5px #635bff,
    0px 0px 0px 10px white, 0px 0px 0px 10.5px #635bff;
  background: white;
  color: #635bff;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* ================ dark mode toggle ======= */

.toggle-switch {
  width: 80px; /* Adjust the width */
  height: 40px; /* Adjust the height */
}
#toggle_checkbox {
  display: none;
  user-select: none;
}

.toggle-label {
  user-select: none;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 116px;
  height: 45px;
  margin: 0 auto;
  background-color: #77b5fe;
  border-radius: 56px;
  transform: translateY(-50%);
  cursor: pointer;
  transition: 0.3s ease background-color;
  overflow: hidden;
}

#star {
  user-select: none;
  position: absolute;
  top: 8px;
  left: 13px;
  width: 30px;
  height: 30px;
  background-color: #fafd0f;
  transform: scale(1);
  border-radius: 50%;
  transition: 0.3s ease top, 0.3s ease left, 0.3s ease transform,
    0.3s ease background-color;
  z-index: 1;
}

#star-1 {
  user-select: none;
  position: relative;
}

#star-2 {
  user-select: none;
  position: absolute;
  transform: rotateZ(36deg);
}

.star {
  user-select: none;
  top: 0;
  left: -7px;
  font-size: 54px;
  line-height: 28px;
  color: #fafd0f;
  transition: 0.3s ease color;
}

#moon {
  user-select: none;
  position: absolute;
  bottom: -52px;
  right: 8px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.3s ease bottom;
}

#moon:before {
  user-select: none;
  content: "";
  position: absolute;
  top: -12px;
  left: -17px;
  width: 40px;
  height: 40px;
  background-color: #03a9f4;
  border-radius: 50%;
  transition: 0.3s ease background-color;
}

#toggle_checkbox:checked + label {
  user-select: none;
  background-color: #002d67;
}

#toggle_checkbox:checked + label #star {
  user-select: none;
  top: 3px;
  left: 64px;
  transform: scale(0.3);
  background-color: yellow;
}

#toggle_checkbox:checked + label .star {
  user-select: none;
  color: yellow;
}

#toggle_checkbox:checked + label #moon {
  user-select: none;
  bottom: 3px;
}

#toggle_checkbox:checked + label #moon:before {
  user-select: none;
  background-color: #002d67;
}
